@font-face {
  font-family: Inria;
  src: url(./assets/InriaSans-Regular.ttf);
}

.top-header {
  color: white;
  background-color: black;
  text-align: center;
}

body {
  margin: 0px;
  background-color: white;
}

p {
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.NavNames {
  display: flex;
  list-style: none;
}

.Icons img{
  padding: 5px;
}

.NavNames li {
  padding: 5px;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(./assets/Shop&Theme.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 780px;
}

.container p {
  color: #ffff;
  font-size: xx-large;
  font-family: inter;
}

.container button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 0;
  padding: 8px 16px 8px 16px;
}

.Logo {
  font-family: Inria;
  font-size: 34px;
}

.PopContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

.PopImg1 {
  padding-right: 20px;
  max-width: 100%;
  height: auto;
}

.PopImg2 {
  max-width: 100%;
  height: auto;
}

.BlkBtn {
  color: white;
  background-color: black;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin-right: 5px;
}

.YtBtn {
  color: black;
  background-color: white;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin-left: 5px;
}

.Prod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ProdContainer {
  margin: 5px;
}

.ProdContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btndiv {
  display: flex;
  justify-content: center;
}

.Social-BG {
  background-image: url(./assets/SocialMedia.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Social-Imgs img {
  padding-right: 25px;
}

.Seo {
  max-width: 100%;
  height: auto;
}

.News {
  background-color: #ebfd36;
  max-width: 100%;
  height: 188px;
  left: 0px;
  top: 5633px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.News button {
  color: white;
  background-color: black;
  width: 83px;
  height: 48px;
}

input {
  background-color: white;
}

.Email {
  width: 100%;
  height: 48px;
  border: 1px solid #000000;
  color: black;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

footer{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Info{
  display: flex;
  flex-direction: column;
  color: grey;
}

#FormTxt{
  font-size: x-large;
}

@media screen and (max-width: 1200px) {
  .PopImg1{
    padding-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .Email{
    width: 350px;
  }

  #FormTxt{
    font-size: large;
  }

  p{
    font-size: small;
  }

  b{
    font-size: small;
  }
}