@font-face {
  font-family: Inria;
  src: url(./assets/InriaSans-Regular.ttf);
}
.top-header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
  background-color: white;
}

p {
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.NavNames {
  display: flex;
  list-style: none;
}

.Icons {
  display: flex;
}

.Icons p {
  margin: 5px;
}

.NavNames li {
  margin: 5px;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/Shop&Theme.svg);
  background-size: 100%;
  width: 100%;
  height: 780px;
  background-repeat: no-repeat;
}

.container p {
  color: #ffff;
  font-size: xx-large;
  font-family: inter;
}

.container button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 0;
  padding: 8px 16px 8px 16px;
}

.Logo {
  font-family: Inria;
  font-size: larger;
}

.PopContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

.PopImg1 {
  margin-right: 20px;
}

.PopImg2 {
  margin-left: 20px;
}

.BlkBtn {
  color: white;
  background-color: black;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin-right: 5px;
}

.YtBtn {
  color: black;
  background-color: white;
  border: 0;
  padding: 8px 16px 8px 16px;
  margin-left: 5px;
}

.Prod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ProdContainer{
  margin: 5px
}

.ProdContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btndiv{
  display: flex;
  justify-content: center;
}